#imagesection{
    display: flex;
        text-align: center;
}
#img{
     margin-right: 25px;
    margin-left: 25px;
}
body{
background-color: burlywood;
}
img{
    height:240;
    width: 230;
        text-align: center;
}